@font-face{
    font-family: "mini-wakuwaku";
    src: url("./../font/mini-wakuwaku/mini-wakuwaku.otf") format("opentype"),
         url("./../font/mini-wakuwaku/mini-wakuwaku-maru.otf") format("opentype")
}

label,select{
    display: block;
    text-align: center;
}

body{
    text-align: center;
    background-color: #f0f0f0;
}

canvas{
    text-align: center;
}

#view{
    padding-top: 30px;
}

#char{
    margin-top: 30px;
}

#btn{
    display: block;
    margin: 50px auto;
}

#download{
    display: block;
    margin: 50px auto;
}